@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  background: linear-gradient(90deg, #050b22 0%, #6cb1e4 100%);
}

/* Markdown to HTML stying */

@layer base {
  .markdown * {
    @apply text-black
  }
  .markdown h1 {
    @apply text-4xl font-bold leading-tight w-full mb-3 mt-3
  }
  .markdown h2 {
    @apply text-3xl font-bold leading-tight w-full mb-3 mt-3
  }
  .markdown h3 {
    @apply text-2xl font-bold leading-tight w-full mb-2 mt-2
  }
  .markdown h4 {
    @apply text-lg font-bold leading-tight w-full mb-2 mt-2
  }
  .markdown h5 {
    @apply text-base font-bold leading-tight w-full mb-1 mt-1
  }
  .markdown h6 {
    @apply text-sm font-bold leading-tight w-full mb-1 mt-1
  }
  .markdown pre {
    @apply bg-gray-200 p-5 m-5 font-mono text-sm overflow-x-auto
  }
  .markdown p {
    @apply mt-5 mb-5
  }
  .markdown p * {
    @apply inline-block
  }
  .markdown a {
    @apply text-blue-700 font-bold underline decoration-blue-700 decoration-[0.1rem]
    motion-safe:transition-all motion-safe:duration-200
    hover:decoration-[0.15rem] focus:decoration-[0.15rem] hover:decoration-blue-700/50 focus:decoration-blue-700/50
  }
  .markdown ul {
    @apply list-disc ml-5 p-1
  }
  .markdown ol {
    @apply list-decimal ml-5 p-1
  }
  .markdown hr {
    @apply divide-y-8 divide-gray-500 my-6
  }
  .markdown table {
    @apply m-5
  }
  .markdown table th, .markdown table td {
    @apply border border-gray-400 p-3
  }
  .markdown p > img {
    @apply max-w-full box-content pl-8
  }
  .markdown p a > img {
    @apply max-w-full box-content px-1
  }
  .markdown blockquote {
    @apply ml-2 pl-4 py-1 border-l-4 border-l-gray-200 italic
  }
}
